.input {
  width: 100%;
  border: 1px solid rgba(var(--rgb-font-color), 0.3);
  padding: 15px;
  color: var(--font-color-3);
  text-align: left;
  appearance: none;

  &::placeholder {
    font-family: "Montserrat", "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: var(--font-color-special);
  }
}