.text {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(28 / 16);
  color: var(--font-color);
  text-align: center;

  &--fz-smallest {
    font-size: 14px;
  }

  // line-height se da fiecarui block separat in afara de normal

  &--lh-normal {
    line-height: normal;
  }

  &--color-2 {
    color: var(--font-color-special);
  }

  &--color_opacity-1 {
    color: rgba(var(--rgb-font-color), 0.7);
  }

  &--color_opacity-2 {
    color: rgba(var(--rgb-font-color-special), 0.5);
  }

  @media (min-width: 1200px) {
    text-align: start;
  }
}