:root {
  --white: #ffffff;
  --black: #000000;
  --accent: #FE7865;
  --accent-active: #F17D4B;
  --grey: #DADADA;
  --grey-2: #FBF8F8;
  --grey-3: #D7D9DF;

  // FONT COLORS
  --font-color: #2C2E3F;
  --font-color-3: #48494D;
  --font-color-special: #141517;

  // rgb 
  --rgb-black: 0, 0, 0;
  --rgb-font-color: 44, 46, 63;
  --rgb-font-color-special: 20, 21, 23;
  --rgb-accent: 254, 120, 101;
  --rgb-dark: 41, 54, 66;
}
